.jfx-button:hover, .jfx-button:active, .jfx-button:pressed, .jfx-button:visited{
    -fx-text-fill: #F9AA33;
}

.jfx-button {
    -fx-background-color: #344955;
    -fx-text-fill: #FFFFFF;
}


#crudButton {
    -fx-background-color: #4A6572;
}


.jfx-check-box .box {
    -fx-background-color: transparent;
    -fx-border-color:  #344955;
    -fx-border-radius:3px;
}

.jfx-check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:selected .box {
    -fx-background-color:  #344955;
}

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}

.jfx-text-field {
    -jfx-focus-color: #F9AA33;
    -jfx-unfocus-color: #344955;
    -jfx-background-color: -fx-text-box-border, -fx-background ;
    -jfx-background-insets: 0, 0 0 1 0 ;
    -jfx-background-radius: 0 ;
}

.jfx-password-field {
    -jfx-focus-color:  #F9AA33;
    -jfx-unfocus-color:  #344955;
    -jfx-background-color: -fx-text-box-border, -fx-background ;
    -jfx-background-insets: 0, 0 0 1 0 ;
    -jfx-background-radius: 0 ;
}


.jfx-password-field.error, .jfx-text-field.error {
  -jfx-text-box-border: #FF6859; ;
  -jfx-unfocus-color: #FF6859;;
  -jfx-focus-color: #FF6859;
}

.jfx-snackbar-action {
    -fx-background-color: #fff;
     -fx-text-fill: #ff4646;
}

.jfx-snackbar-content {
    -fx-background-color: #ff4646;
}

.jfx-snackbar-toast {
    -fx-text-fill: #fff;
}

.jfx-tab-pane .headers-region {
    -fx-background-color:  #344955;
}
.jfx-tab-pane .tab-header-background {
    -fx-text-fill:  #344955;
    -fx-background-color:  #344955;
}
-jfx-tab-pane .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill:  #344955;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #F9AA33;
    -fx-pref-height: 2;
}

-jfx-tab-pane .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill:  #344955;
}

-jfx-combo-box .list-cell:filled:selected {
    -fx-background-color: #F9AA33;
}

-jfx-combo-box .list-cell:hover {
    -fx-background-color: #F9AA33;
}

